  <div>
    <app-nav-menu></app-nav-menu>
    <app-counter-component></app-counter-component>
  </div>
  <div>
    <router-outlet></router-outlet>
    <app-fetch-data></app-fetch-data>
  </div>
  <div>
    <footer style="background-color:white; display: flex; align-items: center; justify-content: space-between;">
      <img src="../assets/img/Yokogawa-logo-foot.png" style="background-color: white; width: 16%; height: 40px; margin-left: 30px;">
      <p style="margin: 0; text-align: right; flex-grow: 1; color: black;padding-right: 60px;">&copy; 2023 Yokogawa Electric Corporation. All rights reserved.</p>
  </footer>
  
  </div>