  <div class="content">
    <div style="position: relative; overflow: hidden;">
      <!-- Create a container for the slideshow images -->
      <div id="image-slider" >
    
        <!-- Slide 1 -->
        <div class="slide">
          <img src="../../assets/img/rm373batch5-banner-08.jpg" style="width: 100%;">
        </div>
    
        <!-- Slide 2 -->
        <div class="slide">
          <img src="../../assets/img/Impacts-of-AI-in-business.jpg">
        </div>
    
        <!-- Slide 3 -->
        <div class="slide">
          <img src="../../assets/img/futuristic-robot-artificial-intelligence-revolutionary-ai-technology-concept_31965-40265.jpg">
        </div>

         <!-- Slide 4 -->
         <div class="slide">
          <img src="../../assets/img/businessman-touching-artificial-intelligence-ai-futuristic-business-coding-software-development-interface-synchronize-network-connection-iot-innovative-technology-concept_228338-911.jpg">
        </div>

         <!-- Slide 5 -->
         <div class="slide">
          <img src="../../assets/img/automation-data-analytic-with-robot-digital-visualization-big-data-scientist_493806-15023.avif">
        </div>

           <!-- Slide 6 -->
           <div class="slide">
            <img src="../../assets/img/How-Advances-in-AI-are-Enhancing-the-Business-Landscape.png.webp">
          </div>

             <!-- Slide 7 -->
         <div class="slide">
          <img src="../../assets/img/ai-technology-microchip-background-digital-transformation-concept.jpg">
        </div>
    
      </div>
    </div>
    

      <!-- Floating iframe -->
      <!-- <iframe src="https://web.powerva.microsoft.com/environments/Default-0da2a83b-13d9-4a35-965f-ec53a220ed9d/bots/cr09e_yBot/webchat?__version__=2" style="position: absolute; top: 0; left: 60%; width: 570px; height: 660px; background-color: white; box-shadow: 0 40px 80px rgba(0,0,0,.6); border-radius: 5px; overflow: hidden; border: none;"></iframe> -->
      <!-- <iframe src="https://web.powerva.microsoft.com/environments/Default-0da2a83b-13d9-4a35-965f-ec53a220ed9d/bots/cr09e_yBot/webchat?__version__=2" frameborder="0" style="position: absolute; top: 0; left: 60%; width: 570px; height: 660px; background-color: white; box-shadow: 0 40px 80px rgba(0,0,0,.6); border-radius: 5px; overflow: hidden; border: none;"></iframe> -->
    
    
      <div class="chatbot-icon" [ngClass]="{ 'closed': isClosed }" (click)="toggleChatbot()" title="Y-Boot">
        <img   src="https://rgopenai951a.blob.core.windows.net/image/botIcon.png" alt="Chat Icon" class="chat-icon" style="width: 75px; height: 75px; position: absolute; bottom: 0; right: 0;">
        <!-- src="https://web-material3.yokogawa.com/1/10029/tabs/trademark.jpg" -->
      </div>
      
      <div class="chatbot-container" [ngClass]="{ 'closed': isClosed }">
        <button class="minimize-button" (click)="toggleChatbot()"><i class="fa fa-window-minimize"></i></button>
        <iframe src="https://web.powerva.microsoft.com/environments/Default-0da2a83b-13d9-4a35-965f-ec53a220ed9d/bots/cr09e_yBot/webchat?__version__=2" frameborder="0"></iframe>       
      </div>
    </div>


