  <div class="content">
    <div style="position: relative; overflow: hidden;">
      <!-- Create a container for the slideshow images -->
      <div id="image-slider" >
    
        <!-- Slide 1 -->
        <div class="slide">
          <img src="../../assets/img/rm373batch5-banner-08.jpg" style="width: 100%;">
        </div>
    
        <!-- Slide 2 -->
        <div class="slide">
          <img src="../../assets/img/Impacts-of-AI-in-business.jpg">
        </div>
    
        <!-- Slide 3 -->
        <div class="slide">
          <img src="../../assets/img/futuristic-robot-artificial-intelligence-revolutionary-ai-technology-concept_31965-40265.jpg">
        </div>

         <!-- Slide 4 -->
         <div class="slide">
          <img src="../../assets/img/businessman-touching-artificial-intelligence-ai-futuristic-business-coding-software-development-interface-synchronize-network-connection-iot-innovative-technology-concept_228338-911.jpg">
        </div>

         <!-- Slide 5 -->
         <div class="slide1">
          <img src="../../assets/img/2304.i039.017.F.m004.c9.AI generated art AI powered content creation isometric.jpg">
        </div>

           <!-- Slide 6 -->
           <div class="slide1">
            <img src="../../assets/img/5162744.jpg">
          </div>

             <!-- Slide 7 -->
         <div class="slide">
          <img src="../../assets/img/ai-technology-microchip-background-digital-transformation-concept.jpg">
        </div>
    
      </div>
    </div>
    

      <!-- Floating iframe -->
      <!-- <iframe src="https://web.powerva.microsoft.com/environments/Default-0da2a83b-13d9-4a35-965f-ec53a220ed9d/bots/cr09e_yBot/webchat?__version__=2" style="position: absolute; top: 0; left: 60%; width: 570px; height: 660px; background-color: white; box-shadow: 0 40px 80px rgba(0,0,0,.6); border-radius: 5px; overflow: hidden; border: none;"></iframe> -->
      <!-- <iframe src="https://web.powerva.microsoft.com/environments/Default-0da2a83b-13d9-4a35-965f-ec53a220ed9d/bots/cr09e_yBot/webchat?__version__=2" frameborder="0" style="position: absolute; top: 0; left: 60%; width: 570px; height: 660px; background-color: white; box-shadow: 0 40px 80px rgba(0,0,0,.6); border-radius: 5px; overflow: hidden; border: none;"></iframe> -->
    
    
    </div>

